html body {
  /* background-image: url(../image/geometry.png); */
}

html.dark body {
  background-color:#41403e;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 992px){
  .container {
    width: 100%;
  }
}
