@media (prefers-color-scheme: dark) {
  :root {
      --primary: #fff;
      --secondary: #5595ce;
      --success: #70c272;
      --warning: #d4c252;
      --danger: #df4c57;
      --muted: #868e96;
      --primary-light: white;
      --secondary-light: #69a1d4;
      --success-light: #82ca84;
      --warning-light: #d9c966;
      --danger-light: #e3626b;
      --muted-light: #949ba2;
      --primary-dark: gray;
      --secondary-dark: #1f476b;
      --success-dark: #265927;
      --warning-dark: #71651c;
      --danger-dark: #7c161e;
      --muted-dark: #313538;
      --primary-light-10: white;
      --secondary-light-10: #7daed9;
      --success-light-10: #94d195;
      --warning-light-10: #ded07b;
      --danger-light-10: #e77780;
      --muted-light-10: #a1a8ae;
      --primary-dark-10: #e6e6e6;
      --secondary-dark-10: #367cba;
      --success-dark-10: #4cb34f;
      --warning-dark-10: #c3ae30;
      --danger-dark-10: #d22633;
      --muted-dark-10: #6c757d;
      --primary-shaded-50: #343332;
      --primary-shaded-70: #2f2e2d;
      --white-dark: rgba(255, 255, 255, 0.03);
      --white-dark-light-80: rgba(255, 255, 255, 0.03);
      --light-dark: rgba(255, 255, 255, 0.7);
      --white: white;
      --main-background: #41403e;
      --main-background-light: #c1c0bd;
      --black: black;
      --primary-text: #41403e;
      --secondary-text: #1f476b;
      --success-text: #265927;
      --warning-text: #71651c;
      --danger-text: #7c161e;
      --muted-text: #949ba2;
      --shadow-color-regular: rgba(0, 0, 0, 0.2);
      --shadow-color-hover: rgba(0, 0, 0, 0.3);
      --primary-inverse: #41403e;
  }

  html body {
    background-color: var(--main-background);
  }

  .collapsible .collapsible-body{
    background-color: inherit;
  }
}

@media (prefers-color-scheme: light) {
    html body {
      background-image: url(../image/geometry.png);
    }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 992px){
  .container {
    width: 100%;
  }
}
