@media only screen and (max-width: 769px){
  #main h1 {
    font-size: 3rem
  }

  #main h2 {
    font-size: 2rem
  }

  #main h3 {
    font-size: 1.8rem
  }

  #main h4 {
    font-size: 1.5rem
  }

  #main h5 {
    font-size: 1.3rem
  }

  #main h6 {
    font-size: 1.1rem
  }
}

@media only screen and (max-width: 428px){
  #main h1 {
    font-size: 2rem
  }

  #main h2 {
    font-size: 1.5rem
  }

  #main h3 {
    font-size: 1.4rem
  }

  #main h4 {
    font-size: 1.3rem
  }

  #main h5 {
    font-size: 1.2rem
  }

  #main h6 {
    font-size: 1.1rem
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  color: var(--primary);
}

.not-blog h1 a {
    background-image: none;
    font-weight: 400;
}

.toc a {
  border-bottom-style: none;
}

.toc a:hover {
  border-bottom-style: none;
}

.toc summary:hover {
  cursor: pointer;
}

.type-head {
  margin-bottom: -18px;
  font-size: 100%;
  padding: 4px 4px 4px 4px;
  border-radius: 3px 3px 0 0;
  background-color: var(--primary);
  color: var(--primary-inverse);
  position: relative;
  z-index: 100;
}

.twitter-tweet-rendered {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.to-top {
  opacity: 1;
  display: inline-block;
  padding: 1em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 999;
}

.to-top .paper-btn {
  padding: .6em 1em;
  border-top-left-radius: 185px 160px;
  border-top-right-radius: 200px 195px;
  border-bottom-right-radius: 160px 195px;
  border-bottom-left-radius: 185px 190px
}

@media only screen and (max-width: 960px) {
  .to-top {
    display: none;
  }
}

video {
  border: 1px solid #cdcccb;
}

