<nav class="border split-nav">
  <div class="nav-brand">
    <h3><a href="{{ .Site.BaseURL }}">MatArt</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <label for="collapsible1">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
        <li><a href="{{ .Site.BaseURL }}">Blog</a></li>
        <li><a href="{{ .Site.BaseURL }}blog">Archive</a></li>
        <li><a href="{{ .Site.BaseURL }}project">Project</a></li>
        <li><a href="{{ .Site.BaseURL }}about">About</a></li>
      </ul>
    </div>
  </div>
</nav>